<server description="Sample Liberty server">
    <name>systemServer</name>
    <featureManager>
        <feature>jsonb-3.0</feature>
        <feature>mpTelemetry-1.0</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" host="*" />

    <webApplication location="demo-microprofile-telemetry-inventory.war" contextRoot="/">
        <!-- enable visibility to third party apis -->
        <classloader apiTypeVisibility="+third-party"/>
    </webApplication>
</server>